<html>
    <body>
        <H1>Welcome, <%= user.name %></H1>
		<hr/>
		<p>You logged in through <b><%= user.type %></b>, user ID is <%= user.id %></p>
        <H2>Bookings (<%= nBookings %>)</H2>
        <ul>
            <% for (var b of bookings) { %>
            <li>Booking ID: <a href="/details?_id=<%= b._id %>"><%= b.bookingid %></a></li>
            <% } %>
        </ul>
        <a href='/create'>Create a New Booking</a>
		<p><a href='/logout'>Logout</a></p>
    </body>
</html>
